.PrductInfoItem{
    position: relative;
    max-height: 50rem;
    margin-bottom: 4rem;
    display: block;
    cursor: pointer;
    color: unset;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    

        &:hover{
        color: unset;
    }
    .closeIcon{
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
    .Container{
        display: flex;
        .img{
         max-width: 35rem;  
         max-height: 25rem;
         width: 50%;
         img{
            object-fit: contain;
         }
        }
        .content{
            padding: 2rem;
            .size,.color{
                display: flex;
                align-items: center;
            }
            .name{
                display: flex;
                justify-content: space-between;
            }
            .SizeSelect{
                select{
                    padding: 1rem 2rem;
                }
            }
        }
    }
}