.ThongKeDoanhThuPage
{
    .actionPage
    {
       
    }
    .actionPage,.navigation
    {
        padding:2rem 0;
       
    }
    .navigation
    {
        border-style: solid   ;
        border-color: #ccc;
        border-width: .1rem 0 ;
    }
}